<!--
  This is the page that allows the user to edit a student. The user can edit the
  student's email and delete the student. The student's name and enrollment date
  are displayed but cannot be edited. The user can click on a button to update
  the student's email or delete the student. The user can also click on a button
  to go back to the home page.
-->

{% extends "layout.html" %} {% block content %}

<div class="container mt-5 mb-5">
  <div class="card">
    <div class="card-header">
      <h1>Edit Student</h1>
    </div>

    <div class="card-body">
      <!-- Just like the home page, the same flash messages div is here as well. -->
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %}

      <!-- The form is displayed with the student's name, email, and enrollment date. -->
      <form method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            value="{{ student.name }}"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            value="{{ student.email }}"
          />
        </div>
        <div class="form-group">
          <label for="enrollment_date">Enrollment Date</label>
          <input
            type="text"
            class="form-control"
            id="enrollment_date"
            value="{{ student.enrollment_date }}"
            readonly
          />
        </div>

        <!-- 
          This div contains the buttons to update the student's email and delete the student.
          The user can click on a button to update the student's email or delete the student, and
          this calls the update_student and delete_student functions in the main_view.py file.
          The user can also click on a button to go back to the home page.
        -->
        <div class="d-flex justify-content-between mt-5">
          <a href="{{ url_for('main_view.home') }}" class="btn btn-secondary"
            >Go Back</a
          >
          <div>
            <button type="submit" class="btn btn-primary mr-2">
              Update Email
            </button>
            <button
              type="submit"
              class="btn btn-danger"
              name="delete"
              value="delete"
            >
              Delete Student
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
