<!-- 
  This is the home page of the application. It displays a list of students and
  allows the user to add a new student. The list of students is displayed in a
  card with a header that says "Manage Students". 
-->

{% extends "layout.html" %} {% block content %}

<div class="container mt-5 mb-5">
  <div class="card">
    <div class="card-header">
      <h1>Manage Students</h1>
    </div>

    <div class="card-body">
      <!-- 
        This div displays any messages that are flashed to the screen, including
        success and error messages from the queries to the database.
      -->
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %}

      <!--
        The list of students is displayed in a list group. Each student is displayed in a list group item with the 
        student's name, email, and enrollment date. The user can click on a button to edit a student. 
      -->
      <ul class="list-group">
        {% for student in students %}
        <li class="list-group-item d-flex justify-content-between">
          <div>
            <h5 class="font-weight-bold">{{ student.name }}</h5>
            <span class="font-italic">{{ student.email }}</span><br />
            <span class="text-muted"
              >Enrolled on {{ student.enrollment_date }}</span
            >
          </div>
          <div class="d-flex align-items-center justify-content-end">
            <a
              href="/editStudent/{{ student.id }}"
              class="btn btn-primary py-4 btn-md"
            >
              Edit Student
            </a>
          </div>
        </li>
        {% endfor %}
      </ul>

      <!-- 
        The user can also click on a button to add a new student. The add student button opens a
        modal that allows the user to add a new student. 
      -->
      <button
        type="button"
        class="btn btn-primary btn-block mt-4"
        data-toggle="modal"
        data-target="#addStudentModal"
      >
        Add a Student
      </button>
    </div>
  </div>
</div>

<!-- 
  The modal for adding a student is defined here. The modal has a form with fields for the student's 
  first name, last name, email, and enrollment date. The user can click on a button to add the student.
-->
<div
  class="modal fade"
  id="addStudentModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addStudentModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addStudentModalLabel">Add Student</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="/addStudent">
        <div class="modal-body">
          <div class="form-group">
            <label for="first_name">First Name</label>
            <input
              type="text"
              class="form-control"
              id="first_name"
              name="first_name"
              required
            />
          </div>
          <div class="form-group">
            <label for="last_name">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="last_name"
              name="last_name"
              required
            />
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              required
            />
          </div>
          <div class="form-group">
            <label for="enrollment_date">Enrollment Date</label>
            <input
              type="date"
              class="form-control"
              id="enrollment_date"
              name="enrollment_date"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Add Student</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
