<!-- 
  This file serves as a global layout for all the pages of the application
  and is used to define the structure of the HTML document. It is used to
  define the common structure of the pages and to avoid repeating the same
  code in every page. The { block content } tag is used to define the
  content of the page that will be inserted into the layout. 
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>COMP 3005 Assignment 3</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    {% block content %} {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
